<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InserirPerfil</servlet-name>
        <servlet-class>controle.InserirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirMenu</servlet-name>
        <servlet-class>controle.InserirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPerfil</servlet-name>
        <servlet-class>controle.ExcluirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>controle.ExcluirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controle.AlterarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>controle.AlterarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirUsuario</servlet-name>
        <servlet-class>controle.InserirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuario</servlet-name>
        <servlet-class>controle.ExcluirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuario</servlet-name>
        <servlet-class>controle.AlterarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <servlet-class>controle.GerenciarMenuPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaLogin</servlet-name>
        <servlet-class>controle.ValidaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirProduto</servlet-name>
        <servlet-class>controle.InserirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>controle.ExcluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>controle.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCliente</servlet-name>
        <servlet-class>controle.InserirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>controle.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>controle.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarCarrinho</servlet-name>
        <servlet-class>controle.GerenciarCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarCompra</servlet-name>
        <servlet-class>controle.FinalizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarPagamento</servlet-name>
        <servlet-class>controle.RegistrarPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEntrega</servlet-name>
        <servlet-class>controle.RegistrarEntrega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirFuncionario</servlet-name>
        <servlet-class>controle.InserirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionario</servlet-name>
        <servlet-class>controle.AlterarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFuncionario</servlet-name>
        <servlet-class>controle.ExcluirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirServico</servlet-name>
        <servlet-class>controle.InserirServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirServico</servlet-name>
        <servlet-class>controle.ExcluirServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarServico</servlet-name>
        <servlet-class>controle.AlterarServico</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InserirPerfil</servlet-name>
        <url-pattern>/inserir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirMenu</servlet-name>
        <url-pattern>/inserir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfil</servlet-name>
        <url-pattern>/excluir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/excluir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/alterar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/alterar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirUsuario</servlet-name>
        <url-pattern>/inserir_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuario</servlet-name>
        <url-pattern>/excluir_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuario</servlet-name>
        <url-pattern>/alterar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <url-pattern>/gerenciar_menu_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaLogin</servlet-name>
        <url-pattern>/valida_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirProduto</servlet-name>
        <url-pattern>/inserir_produto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/excluir_produto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/alterar_produto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCliente</servlet-name>
        <url-pattern>/inserir_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/excluir_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/alterar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarCarrinho</servlet-name>
        <url-pattern>/gerenciar_carrinho.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarCompra</servlet-name>
        <url-pattern>/finalizar_compra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarPagamento</servlet-name>
        <url-pattern>/registrar_pagamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEntrega</servlet-name>
        <url-pattern>/registrar_entrega.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirFuncionario</servlet-name>
        <url-pattern>/inserir_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionario</servlet-name>
        <url-pattern>/alterar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFuncionario</servlet-name>
        <url-pattern>/excluir_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirServico</servlet-name>
        <url-pattern>/inserir_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirServico</servlet-name>
        <url-pattern>/excluir_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarServico</servlet-name>
        <url-pattern>/alterar_servico.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
